<nav>
  <ul>
    <li>
      <a class="nav-link" href="{{ '/dessin/index.html' }}">
          <img class="btn-nav" src="{{ '/img/palette-solid.svg' }}" alt="Dessin">
      </a>
    </li>
    <li>
      <a class="nav-link" href="{{ '/cuisine/index.html' }}">
          <img class="btn-nav" src="{{ '/img/utensils-solid.svg' }}" alt="cuisine">
      </a>
    </li>
    <li>
      <a class="nav-link" href="{{ '/bricolage/index.html' }}">
          <img class="btn-nav" src="{{ '/img/hammer-solid.svg' }}" alt="cuisine">
      </a>
    </li>
  </ul>
</nav>