---
layout: layout.njk
---
<div class="container-home">
    
    <img class="img-home" src="{{ 'img/background-accueil-desktop.jpg'}}" alt="Accueil">
    <div class="menu-home">
        <a href="{{ '/dessin/index.html' }}">
            <img class="btn-menu-home" src="{{ '/img/palette-solid.svg' }}" alt="Dessin">
        </a>
        <a href="{{ '/cuisine/index.html' }}">
            <img class="btn-menu-home" src="{{ '/img/utensils-solid.svg' }}" alt="cuisine">
        </a>
        <a href="{{ '/bricolage/index.html' }}">
            <img class="btn-menu-home" src="{{ '/img/hammer-solid.svg' }}" alt="cuisine">
        </a>
    </div>
</div>